[Unit]
Description=WARPER Auto-Patch Kresd on Boot
After=network-online.target kresd@1.service kresd@2.service sing-box.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/local/bin/warper patch; sleep 2; /usr/local/bin/warper ipsync || true'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
